<h1>Listing ticket_sales</h1>

<table>
  <tr>
    <th>Total sold</th>
    <th>Register</th>
    <th>Seating category</th>
    <th>Price per ticket l</th>
    <th>Price per ticket s</th>
    <th>Recorded total l</th>
    <th>Recorded total s</th>
    <th>Editor flag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_sales.each do |ticket_sale| %>
  <tr>
    <td><%= ticket_sale.total_sold %></td>
    <td><%= ticket_sale.register_id %></td>
    <td><%= ticket_sale.seating_category_id %></td>
    <td><%= ticket_sale.price_per_ticket_l %></td>
    <td><%= ticket_sale.price_per_ticket_s %></td>
    <td><%= ticket_sale.recorded_total_l %></td>
    <td><%= ticket_sale.recorded_total_s %></td>
    <td><%= ticket_sale.editor_flag %></td>
    <td><%= link_to 'Show', ticket_sale %></td>
    <td><%= link_to 'Edit', edit_ticket_sale_path(ticket_sale) %></td>
    <td><%= link_to 'Destroy', ticket_sale, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket sale', new_ticket_sale_path %>
