␎<div class='span8' id='register_form'>
<%= form_for(@register, :html => {:class => 'form-horizontal'}) do |f| %>
<fieldset>
  <legend><%= @register.register_num %></legend>

  <% if @register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@register.errors.count, "error") %> prohibited this register from being saved:</h2>

      <ul>
      <% @register.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :register_num, 'Number', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :register_num %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :season, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :season %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :representation, 'Représentation', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :representation %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ouverture, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :ouverture %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cloture, 'Clôture', :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :cloture %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weekday, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weekday %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :date, {}, { :class => 'span1' } %>
    </div>
  </div>

<!-- PUT PLAYS, RECEIPT DATA HERE -->


  <div id='play_fields'>

  <%= f.fields_for :register_plays, @register.register_plays.sort {|rp| rp.ordering } do |rp| %>
  <div class="control-group">
    <%= rp.label :ordering, :class => 'control-label', :id => 'register_play_ordering' %>
    <div class="controls">
      <%= rp.text_field :ordering, :id => 'register_play_ordering' %>
    </div>
  </div>

  <%= rp.fields_for :play, rp.object.play do |p| %>
  <div class="control-group">
    <%= p.label :title, :class => 'control-label', :id => 'play_title' %>
    <div class="controls">
      <%= p.text_field :title, :id => 'play_title' %>
    </div>
  </div>

  <div class="control-group">
    <%= p.label :author, :class => 'control-label', :id => 'play_author' %>
    <div class="controls">
      <%= p.text_field :author, :id => 'play_author' %>
    </div>
  </div>
  <% end %>

  <% end %>

  </div>

  <div class="control-group">
    <%= f.label :total_receipts_recorded_l, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total_receipts_recorded_l %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total_receipts_recorded_s, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total_receipts_recorded_s %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :page_text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :page_text %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :signatory, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :signatory %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payment_notes, 'Irregular Payment Notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :payment_notes %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :misc_notes, 'Miscellaneous Play Information', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :misc_notes %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :for_editor_notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :for_editor_notes %>
    </div>
  </div>
  <div class="actions submit">
    <%= f.submit %>
  </div>

</fieldset>
<% end %>
</div>
