<% config = Cfrp::Application.config %>

<%# Kinda hacky, but does the job for now. %>
<%# Fills in author an genre automatically when filling out title. %>

<% titles = @plays.reduce([]) {|m, p| m << "#{p.id} | #{p.title} | #{p.author} | #{p.genre} | #{p.acts} | #{p.prose_vers} | #{p.prologue} | #{p.musique_danse_machine} "} %>

<%# authors = @plays.reduce([]) {|m, p| m << p.author} %>

<script>
$(function() {
    var typeahead_event_init = function(fields) {
        // Set up auto-fill selector hooks
        var autofill_id = $(fields).find('.find_play_typeahead').attr('id');
        $(fields).find('.find_play_typeahead').typeahead({source: <%= raw titles.to_json %>});
        $(fields).find('.find_play_typeahead').on('change', function(e) { format_play_autofill(e) });
    };

    $("div#play_fields").children("div.fields").each(function(index, pfields) {
        typeahead_event_init(pfields);
    });

    var previous_ordering = $("div#play_fields").children("div.fields").length;

    // To handle the case when we have to add a new play...don't like re-initializing,
    // but works for now...
    $(document).on('nested:fieldAdded', function(event) {
        previous_ordering = parseInt(previous_ordering) + 1;
        $(event.field).find('input.play-ordering').val(previous_ordering);
        $(event.field).find('h3').html("Play " + (previous_ordering));

        var rnum = Math.floor(Math.random() * 10000);

        $(event.field).find('input.play_id-register_play_')
          .removeClass('play_id-register_play_')
          .addClass('play_id-register_play_' + rnum);
        $(event.field).find('table')
          .removeClass('register_play_')
          .addClass('register_play_' + rnum);
        $(event.field).find('input.find_play_typeahead')
          .removeClass('register_play_')
          .addClass('register_play_' + rnum);

        typeahead_event_init(event.field);
    });

    var format_play_autofill = function(e) {
      var play_data = $(e.currentTarget).val().split(' | ');
      var register_play_class = $(e.currentTarget).attr('class').split(' ')[1];
      var tclass = "table." + register_play_class;
      $(tclass + " td.id_text").html(play_data[0]);
      $("input.play_id-" + register_play_class).val(play_data[0]);
      $(tclass + " td.title_text").html(play_data[1]);
      $(tclass + " td.author_text").html(play_data[2]);
      $(tclass + " td.genre_text").html(play_data[3]);
      $(tclass + " td.acts_text").html(play_data[4]);
      $(tclass + " td.prose_vers_text").html(play_data[5]);
      $(tclass + " td.prologue_text").html(play_data[6]);
      $(tclass + " td.musique_danse_machine_text").html(play_data[7]);

      // Clear out the search field to avoid confusion.
      $(e.currentTarget).val('');
    }

    if ($('input#register_irregular_receipts_name').val() === '') {
      $('input#register_irregular_receipts_name').val('Irregular Receipts');
    }

    $('input#register_irregular_receipts_name').focus(function() {
      if ($('input#register_irregular_receipts_name').val() === 'Irregular Receipts') {
        $(this).val('');
      }
    });

  <% unless @register.register_images[1].nil? %>
    <% if File.exist? "#{Cfrp::Application.config.root}/public/#{@register.register_images[1].filepath}" %>
    $("img#register_image2").hide();
    $("ul.image-tabs a.back").click(function(e) {
      $("img#register_image").attr("src", $("img#register_image2").attr("src"));
      return false;
    })

    $("ul.image-tabs a.front").click(function(e) {
      $("img#register_image").attr("src", $("img#register_image").data("src"));
      return false;
    })
    <% end %>
  <% end %>
})
</script>

<div class='row-fluid' id="form-wrapper">

<div class='offset1' id='register_form'>

    <% if !@register.register_images[1].nil? and File.exist? "#{Cfrp::Application.config.root}/public/#{@register.register_images[1].filepath}" %>
    <div class="tabbable tabs-below">
      <ul class="nav nav-tabs image-tabs">
        <li><a class='front' href="">Image recto</a></li>
        <li><a class='back' href="">Image verso</a></li>
      </ul>
    </div>
    <% end %>

  <% if @register.register_images.length > 0 %>
    <%= link_to "Open Image in New Window", "#{config.path_prefix}/#{@register.register_images[0].filepath}", :target => 'top' %>
  <% end %>

<%= nested_form_for @register, :html => {:class => 'form-horizontal'} do |f| %>
<fieldset>
  <legend>Saisie de registre pour la date: <%= I18n.localize(@register.date, :format => '%d %B %Y') %></legend>

  <p class='register_id'>ID de registre dans la base de donnés: <strong><%= @register.id %></strong></p>

  <% if @register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@register.errors.count, "error") %> prohibited this register from being saved:</h2>

      <ul>
      <% @register.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions submit">
	<%= f.submit 'Saisir registre', :class => 'btn btn-info' %>
  </div>

  <div class="control-group">
    <%= f.label :register_num, 'Numéro', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :register_num %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :season, 'Saison', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :season %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :representation, 'Représentation', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :representation %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ouverture, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :ouverture %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cloture, 'Clôture', :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :cloture %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :page_de_gauche, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:page_de_gauche, %w{ Distribution Dépenses Comptable Administrative Cour Relâche Autre }, :include_blank => true) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_of_left_page_info, 'Date d\'infos de page de gauche', :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date_of_left_page_info, { :use_month_numbers => true }, { :class => 'span2' } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weekday, 'Jour de la semaine', :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:weekday, ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date, { :use_month_numbers => true }, { :class => 'span2' } %>
    </div>
  </div>

<!-- PUT PLAYS DATA HERE -->

  <div id='play_fields' class='well'>

  <%= f.fields_for :register_plays, @register.register_plays.sort {|a, b| a.ordering <=> b.ordering } do |rp| %>
  <h3>Play <%= rp.object.ordering %></h3>

  <%= rp.fields_for :play_attributes, rp.object.play do |p| %>
    <!-- IS THIS COMING UP? -->
    <% if p.object %>
      <%= p.hidden_field :play_id, :class => "play_id-register_play_#{rp.object.id}",  :value => p.object.id %>
    <% else %>
      <%= p.hidden_field :play_id, :class => "play_id-register_play_" %>
    <% end %>
  <% end %>

  <div class="control-group">
    <%= rp.label :ordering, :class => 'control-label' %>
    <div class="controls">
    <%= rp.text_field :ordering, :class => 'form-inline span1 play-ordering' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Rechercher pièce:</label>
    <div class="controls">
      <input type="text" class="find_play_typeahead register_play_<%= rp.object.id %>" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Pièce</label>
    <div class="controls">
      <table class='play_data table table-bordered register_play_<%= rp.object.id %>'>
        <thead>
          <tr>
            <th>ID</th><th>Titre</th><th>Auteur</th><th>Genre</th><th>Nombre d'actes</th><th>Prose/Vers</th><th>Prologue</th><th>Musique/Danse/Machine</th>
          </tr>
        </thead>
        <tbody>
          <tr>
      <% if rp.object.play %>
            <td class="id_text"><%= rp.object.play.id %></td><td class="title_text"><%= rp.object.play.title %></td><td class="author_text"><%= rp.object.play.author %></td><td class="genre_text"><%= rp.object.play.genre %></td><td class="acts_text"><%= rp.object.play.acts %></td><td class="prose_vers_text"><%= rp.object.play.prose_vers %></td><td class="prologue_text"><%= rp.object.play.prologue %></td><td class="musique_danse_machine_text"><%= rp.object.play.musique_danse_machine %></td>
      <% else %>
            <td class="id_text"></td><td class="title_text"></td><td class="author_text"></td><td class="genre_text"></td><td class="acts_text"></td><td class="prose_vers_text"></td><td class="prologue_text"></td><td class="musique_danse_machine_text"></td>
      <% end %>
          </tr>
        <tbody>
      </table>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Acteur/actrice</label>
    <div class="controls form-inline">
      <label>Debut?</label>
      <%= rp.check_box :debut %>

      <label>Acteur/actrice:</label>
      <%= rp.text_field :newactor %>

      <label>Nouveau rôle:</label>
      <%= rp.text_field :actorrole %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Création?</label>
    <div class="controls form-inline">
      <%= rp.check_box :firstrun, :class => 'form-inline span1' %>
      <label>Numéro de création</label>
      <%= rp.text_field :firstrun_perfnum, :class => 'span1' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Reprise Importante?</label>
    <div class="controls form-inline">
      <%= rp.check_box :reprise, :class => 'form-inline span1' %>
      <label>Numéro de reprise</label>
      <%= rp.text_field :reprise_perfnum, :class => 'span1' %>
    </div>
  </div>

  <div class="control-group">
    <%= rp.label :free_access, 'Gratuit', :class => 'control-label' %>
    <div class="controls">
      <%= rp.check_box :free_access, :class => 'form-inline span1' %>
    </div>
  </div>

	<div class="accordion" id="accordion2">
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= rp.object.id %>">
	        Exceptions
	      </a>
	    </div>
	    <div id="collapse<%= rp.object.id %>" class="accordion-body collapse">
	      <div class="accordion-inner">
			  <div class="control-group">
			    <%= rp.label :ex_attendance, 'Présence exceptionnelle', :class => 'control-label' %>
			    <div class="controls">
			      <%= rp.text_field :ex_attendance, :class => 'span2' %>
			    </div>
			  </div>

			  <div class="control-group">
			    <%= rp.label :ex_representation, 'Représentation exceptionnelle', :class => 'control-label' %>
			    <div class="controls">
			      <%= rp.text_field :ex_representation, :class => 'span2' %>
			    </div>
			  </div>

			  <div class="control-group">
			    <%= rp.label :ex_place, 'Lieu exceptionnel', :class => 'control-label' %>
			    <div class="controls">
			      <%= rp.text_field :ex_place, :class => 'span2' %>
			    </div>
			  </div>
	      </div>
	    </div>
	  </div>
	</div>


  <div>
	  <%= rp.link_to_remove "Supprimer la pièce ci-dessus", :class => "btn btn-danger" %><br><br>
  </div>
  <% end %>
  <hr />
  <%# please note that this functionality comes from nested_form: https://github.com/ryanb/nested_form %>
  <%= f.link_to_add "Rajouter une pièce ci-dessous", :register_plays, :class => "btn btn-success" %></p>
  </div>


<!-- TICKET SALES -->

  <div class='row-fluid'>

  <table id='ticket_sales_fields' class='table table-bordered span8'>
  <thead>
    <tr>
      <th>Seating Category</th>
      <th>Tickets Sold</th>
      <th>Price Per Ticket (Livre/Sous)</th>
      <th>Total Take, <strong>as Recorded</strong> (Livre/Sous)</th>
    </tr>
  <thead>

  <tbody>
  <%= f.fields_for :ticket_sales, @register.register_period.register_period_seating_categories.sort_by {|rpsc| rpsc.ordering} do |sc| %>
    <tr>
    <td class='seating_category'>
	<% if sc.object.seating_category.name == "Irregular Receipts" %>
          <%= f.text_field :irregular_receipts_name %>
        <% else %>
          <%= sc.object.seating_category.name %>
        <% end %>
      </td>

    <% ts = @register.ticket_sales.detect {|ts| ts.seating_category_id == sc.object.seating_category.id} %>
    <% unless ts.nil? %>
      <%= sc.hidden_field :id, :value => ts.id %>
      <%= sc.hidden_field :seating_category_id, :value => sc.object.seating_category_id %>
      <td class='total_sold'>
    <%= sc.text_field :total_sold, :class => 'span1 ticket_sales_total_sold', :value => ts.total_sold %>
      </td>

      <td class='price_per_ticket'>
	<%= sc.text_field :price_per_ticket_l, :class => 'form-inline span1 ticket_sales_price_per_ticket_l', :value => ts.price_per_ticket_l %>

	<%= sc.text_field :price_per_ticket_s, :class => 'form-inline span1 ticket_sales_price_per_ticket_s', :value => ts.price_per_ticket_s %>
      </td>

      <td class='recorded_total'>
	<%= sc.text_field :recorded_total_l, :class => 'form-inline span1 ticket_sales_recorded_total_l', :value => ts.recorded_total_l %>

	<%= sc.text_field :recorded_total_s, :class => 'form-inline span1 ticket_sales_recorded_total_s', :value => ts.recorded_total_s %>
      </td>
    <% else %>

      <%= sc.hidden_field :seating_category_id, :value => sc.object.seating_category_id %>

      <td class='total_sold'>
    <%= sc.text_field :total_sold, :class => 'span1 ticket_sales_total_sold', :value => 0 %>
      </td>

      <td class='price_per_ticket'>
	<%= sc.text_field :price_per_ticket_l, :class => 'form-inline span1 ticket_sales_price_per_ticket_l', :value => 0 %>

	<%= sc.text_field :price_per_ticket_s, :class => 'form-inline span1 ticket_sales_price_per_ticket_s', :value => 0 %>
      </td>

      <td class='recorded_total'>
	<%= sc.text_field :recorded_total_l, :class => 'form-inline span1 ticket_sales_recorded_total_l', :value => 0 %>

	<%= sc.text_field :recorded_total_s, :class => 'form-inline span1 ticket_sales_recorded_total_s', :value => 0 %>
      </td>

    <% end %>

    </tr>
  <% end %>

    <tr>
      <td>
        <label>Total Receipts Calculated</label>
      </td>

      <td colspan=2>
        <span id="total_receipts_calculated_ts"></span>
      </td>

      <td colspan=2>
        <span id="total_receipts_calculated_rt"></span>
      </td>
    </tr>
  </tbody>
  </table>
  </div>

  <div class="control-group">
    <label class='control-label'>Total Receipts Recorded (Livre / Sous)</label>
    <div class="controls">
      <%= f.text_field :total_receipts_recorded_l, :class => 'form-inline span1' %>
      <%= f.text_field :total_receipts_recorded_s, :class => 'form-inline span1' %>
    </div>
  </div>

<!--
  <div class="control-group">
    <%= f.label :page_text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :page_text %>
    </div>
  </div>
-->

  <div class="control-group">
    <%= f.label :signatory, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :signatory %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payment_notes, 'Irregular Payment Notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :payment_notes %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :misc_notes, 'Miscellaneous Play Information', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :misc_notes %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :for_editor_notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :for_editor_notes %>
    </div>
  </div>

  <%= f.fields_for :verification_state do |vs| %>
  <div class="control-group">
    <%= vs.label :name, "verified?", :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:register, :verification_state_id, VerificationState.all, :id, :name) %>
    </div>
  </div>
  <% end %>

  <div class="actions submit">
	<%= f.submit 'Saisir registre', :class => 'btn btn-info' %>
  </div>

</fieldset>
<% end %>
</div>
</div>
