<div class='row-fluid'>

<div class='offset1' id='register_form'>
  <% if @register.register_image != nil %>
<!--
  <div id='register_image'><a target="top" href="<%= config.path_prefix %>/<%= @register.register_image.filepath %>" target="_blank"><img src='<%= config.path_prefix %>/<%= @register.register_image.filepath %>' width='100' /></a></div>
-->
  <% end %>

<%= form_for @register, :html => {:class => 'form-horizontal'} do |f| %>
<fieldset>
  <legend>Editing Register #<%= @register.register_num %> | <%= link_to 'Back to All Registers', registers_path %></legend>

  <% if @register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@register.errors.count, "error") %> prohibited this register from being saved:</h2>

      <ul>
      <% @register.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :register_num, 'Number', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :register_num %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :season, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :season %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :representation, 'Représentation', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :representation %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ouverture, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :ouverture %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cloture, 'Clôture', :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :cloture %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weekday, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weekday %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date, {}, { :class => 'span1' } %>
    </div>
  </div>

<!-- PUT PLAYS, RECEIPT DATA HERE -->


  <div id='play_fields'>

  <%= f.fields_for :register_plays, @register.register_plays.sort {|rp| rp.ordering } do |rp| %>
  <div class="control-group">
    <%= rp.label :ordering, :class => 'control-label', :id => 'register_play_ordering' %>
    <div class="controls">
      <%= rp.text_field :ordering, :id => 'register_play_ordering' %>
    </div>
  </div>

  <%= rp.fields_for :play_attributes, rp.object.play do |p| %>
  <div class="control-group">
    <%= p.label :title, :class => 'control-label', :id => 'play_title' %>
    <div class="controls">
      <%= p.text_field :title, :id => 'play_title' %>
    </div>
  </div>

  <div class="control-group">
    <%= p.label :author, :class => 'control-label', :id => 'play_author' %>
    <div class="controls">
      <%= p.text_field :author, :id => 'play_author' %>
    </div>
  </div>

  <div class="control-group">
    <%= p.label :genre, :class => 'control-label', :id => 'play_genre' %>
    <div class="controls">
      <%= p.text_field :genre, :id => 'play_genre' %>
    </div>
  </div>
  <% end %>

  <% end %>

  </div>

  <div class='row-fluid'>
  <table id='ticket_sales_fields' class='table table-bordered span8'>
  <thead>
    <tr>
      <th>Seating Category</th>
      <th>Tickets Sold</th>
      <th>Price Per Ticket (Livre/Sous)</th>
      <th>Total Take, <strong>as Recorded</strong> (Livre/Sous)</th>
    </tr>
  <thead>

  <tbody>
  <%= f.fields_for :ticket_sales do |ts| %>
    <tr>
      <td class='seating_category'>
	<%= ts.object.seating_category.name %>
      </td>

      <td class='total_sold'>
	<%#= ts.label :total_sold, :class => 'control-label', :id => 'ticket_sale_total_sold' %>
	<%= ts.text_field :total_sold, :id => 'ticket_sales_total_sold', :class => 'span1' %>
      </td>

      <td class='price_per_ticket'>
	<%#= ts.label :price_per_ticket_l, :class => 'control-label', :id => 'ticket_sale_price_per_ticket_l' %>
	<%= ts.text_field :price_per_ticket_l, :id => 'ticket_sales_price_per_ticket_l', :class => 'form-inline span1' %>

	<%#= ts.label :price_per_ticket_s, :class => 'control-label', :id => 'ticket_sale_price_per_ticket_s' %>
	<%= ts.text_field :price_per_ticket_s, :id => 'ticket_sales_price_per_ticket_s', :class => 'form-inline span1' %>
      </td>

      <td class='recorded_total'>
	<%#= ts.label :recorded_total_l, :class => 'control-label', :id => 'ticket_sale_recorded_total_l' %>
	<%= ts.text_field :recorded_total_l, :id => 'ticket_sales_recorded_total_l', :class => 'form-inline span1' %>

	<%#= ts.label :recorded_total_s, :class => 'control-label', :id => 'ticket_sale_recorded_total_s' %>
	<%= ts.text_field :recorded_total_s, :id => 'ticket_sales_recorded_total_s', :class => 'form-inline span1' %>
      </td>
    </tr>
  <% end %>
  </tbody>
  </table>
  </div>

  <div class="control-group">
    <%= f.label :total_receipts_recorded_l, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total_receipts_recorded_l %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total_receipts_recorded_s, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total_receipts_recorded_s %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :page_text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :page_text %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :signatory, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :signatory %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payment_notes, 'Irregular Payment Notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :payment_notes %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :misc_notes, 'Miscellaneous Play Information', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :misc_notes %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :for_editor_notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :for_editor_notes %>
    </div>
  </div>
  <div class="actions submit">
    <%= f.submit %>
  </div>

</fieldset>
<% end %>
</div>
</div>
