<% config = Cfrp::Application.config %>

<script>
$(function() {
    // Kinda hacky, but does the job for now.
    // Fills in author an genre automatically when filling out title.
    <% titles = @plays.reduce([]) {|m, p| m << "#{p.title} | #{p.author} | #{p.genre}"} %>
    <% authors = @plays.reduce([]) {|m, p| m << p.author} %>

    $('.play_typeahead').typeahead({source: <%= raw titles.to_json %>});
    $('.author_typeahead').typeahead({source: <%= raw authors.to_json %>});
    $('.play_typeahead').on('change', format_play_autofill);

    // To handle the case when we have to add a new play...don't like re-initializing,
    // but works for now...
    $(document).on('nested:fieldAdded', function(event){
        console.log('hello!');
        $('.play_typeahead').typeahead({source: <%= raw titles.to_json %>});
        $('.author_typeahead').typeahead({source: <%= raw authors.to_json %>});

        $('.play_typeahead').on('change', format_play_autofill);
    });

    var format_play_autofill = function(e) {
      var ordering = $(e.currentTarget).data('ordering');
      var play_data = $(e.currentTarget).val().split(' | ');
      $(e.currentTarget).val(play_data[0]);
      $($.find("[data-author-with-ordering='" + ordering + "']")).val(play_data[1]);
      $($.find("[data-genre-with-ordering='" + ordering + "']")).val(play_data[2]);
    }

    if ($('input#register_irregular_receipts_name').val() === '') {
      $('input#register_irregular_receipts_name').val('Irregular Receipts');
    }

    $('input#register_irregular_receipts_name').focus(function() {
      if ($('input#register_irregular_receipts_name').val() === 'Irregular Receipts') {
        $(this).val('');
      }
    });

  <% unless @register.register_images[1].nil? %>
    $("img#register_image2").hide();
    $("ul.image-tabs a.back").click(function(e) {
      $("img#register_image").attr("src", $("img#register_image2").attr("src"));
      return false;
    })

    $("ul.image-tabs a.front").click(function(e) {
      $("img#register_image").attr("src", $("img#register_image").data("src"));
      return false;
    })
  <% end %>
})
</script>

<div class='row-fluid' id="form-wrapper">

<div class='offset1' id='register_form'>

    <div class="tabbable tabs-below">
      <ul class="nav nav-tabs image-tabs">
        <li><a class='front' href="">image front</a></li>
        <li><a class='back' href="">image back</a></li>
      </ul>
    </div>

  <% if @register.register_images.length > 0 %>
    <%= link_to "Open Image in New Window", "#{config.path_prefix}/#{@register.register_images[0].filepath}", :target => 'top' %>
  <% end %>

<%= nested_form_for @register, :html => {:class => 'form-horizontal'} do |f| %>
<fieldset>
  <legend>Editing Register for the date <%= @register.date %> | <%= link_to 'Back to All Registers', registers_path %> | <%= link_to "Next Un-entered Register ->", edit_register_path(@register.next_unentered_register) if @register.next_unentered_register %></legend>

  <p class='register_id'>This Register's Database ID: <strong><%= @register.id %></strong></p>

  <% if @register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@register.errors.count, "error") %> prohibited this register from being saved:</h2>

      <ul>
      <% @register.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions submit">
    <%= f.submit %>
  </div>

  <% if current_user.has_role? :verifier %>
  <%= f.fields_for :verification_state do |vs| %>
  <div class="control-group">
    <%= vs.label :name, "verified?", :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:register, :verification_state_id, VerificationState.all, :id, :name) %>
    </div>
  </div>
  <% end %>
  <% end %>

  <div class="control-group">
    <%= f.label :register_num, 'Number', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :register_num %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :season, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :season %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :representation, 'Représentation', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :representation %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ouverture, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :ouverture %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cloture, 'Clôture', :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :cloture %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weekday, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:weekday, ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date, { :use_month_numbers => true }, { :class => 'span1' } %>
    </div>
  </div>

<!-- PUT PLAYS DATA HERE -->

  <div id='play_fields' class='well'>

  <% ordering = 0 %>
  <%= f.fields_for :register_plays, @register.register_plays.sort {|a, b| a.ordering <=> b.ordering } do |rp| %>
  <% ordering += 1 %>
  <h3>Play <%= ordering %></h3>

  <div class="control-group">
    <%= rp.label :ordering, :class => 'control-label', :id => 'register_play_ordering' %>
    <div class="controls">
    <%= rp.text_field :ordering, :id => 'register_play_ordering', :class => 'form-inline span1' %>
    </div>
  </div>

  <div class="control-group">
    <%= rp.label :newactor, :class => 'control-label', :id => 'register_play_newactor' %>
    <div class="controls">
      <%= rp.text_field :newactor, :id => 'register_play_newactor' %>
    </div>
  </div>

  <div class="control-group">
    <%= rp.label :actorrole, :class => 'control-label', :id => 'register_play_actorrole' %>
    <div class="controls">
      <%= rp.text_field :actorrole, :id => 'register_play_actorrole' %>
    </div>
  </div>

  <div class="control-group">
    <%= rp.label :firstrun, :class => 'control-label', :id => 'register_play_firstrun' %>
    <div class="controls">
    <%= rp.check_box :firstrun, :id => 'register_play_firstrun', :class => 'form-inline span1' %>
    </div>
  </div>

  <div class="control-group">
    <%= rp.label :firstrun_perfnum, :class => 'control-label', :id => 'register_play_firstrun_perfnum' %>
    <div class="controls">
      <%= rp.text_field :firstrun_perfnum, :id => 'register_play_firstrun_perfnum', :class => 'span1' %>
    </div>
  </div>

  <%= rp.fields_for :play_attributes, rp.object.play do |p| %>
  <div class="control-group">
    <%= p.label :title, :class => 'control-label', :id => 'play_title' %>
    <div class="controls">
      <%= p.text_field :title, :id => 'play_title', :class => 'play_typeahead span4', :data => { :ordering => ordering } %>
    </div>
  </div>

  <div class="control-group">
    <%= p.label :author, :class => 'control-label', :id => 'play_author' %>
    <div class="controls">
      <%#= p.text_field :author, :id => 'play_author', :class => 'author_typeahead span4' %>
      <%= p.text_field :author, :id => 'play_author', :class => 'author_typeahead span4', :data => { :author_with_ordering => ordering } %>
    </div>
  </div>

  <div class="control-group">
    <%= p.label :genre, :class => 'control-label', :id => 'play_genre' %>
    <div class="controls">
      <%#= p.text_field :genre, :id => 'play_genre' %>
      <%= p.text_field :genre, :id => 'play_genre', :data => { :genre_with_ordering => ordering } %>
    </div>
  </div>
  <% end %>

  <% end %>

  <%= f.link_to_add "Add a New Play", :register_plays %></p>

  </div>

<!-- TICKET SALES -->

  <div class='row-fluid'>

  <table id='ticket_sales_fields' class='table table-bordered span8'>
  <thead>
    <tr>
      <th>Seating Category</th>
      <th>Tickets Sold</th>
      <th>Price Per Ticket (Livre/Sous)</th>
      <th>Total Take, <strong>as Recorded</strong> (Livre/Sous)</th>
    </tr>
  <thead>

  <tbody>
  <%= f.fields_for :ticket_sales, @register.register_period.register_period_seating_categories.sort_by {|rpsc| rpsc.ordering} do |sc| %>

    <tr>
      <td class='seating_category'>
	<% if sc.object.seating_category.name == "Irregular Receipts" %>
          <%= f.text_field :irregular_receipts_name %>
        <% else %>
          <%= sc.object.seating_category.name %>
        <% end %>
      </td>

    <% ts = @register.ticket_sales.detect {|ts| ts.seating_category_id == sc.object.seating_category.id} %>
    <% unless ts.nil? %>
      <%= sc.hidden_field :id, :value => ts.id %>
      <%= sc.hidden_field :seating_category_id, :value => sc.object.seating_category_id %>
      <td class='total_sold'>
    <%= sc.text_field :total_sold, :class => 'span1 ticket_sales_total_sold', :value => ts.total_sold %>
      </td>

      <td class='price_per_ticket'>
	<%= sc.text_field :price_per_ticket_l, :class => 'form-inline span1 ticket_sales_price_per_ticket_l', :value => ts.price_per_ticket_l %>

	<%= sc.text_field :price_per_ticket_s, :class => 'form-inline span1 ticket_sales_price_per_ticket_s', :value => ts.price_per_ticket_s %>
      </td>

      <td class='recorded_total'>
	<%= sc.text_field :recorded_total_l, :class => 'form-inline span1 ticket_sales_recorded_total_l', :value => ts.recorded_total_l %>

	<%= sc.text_field :recorded_total_s, :class => 'form-inline span1 ticket_sales_recorded_total_s', :value => ts.recorded_total_s %>
      </td>
    <% else %>

      <%= sc.hidden_field :seating_category_id, :value => sc.object.seating_category_id %>

      <td class='total_sold'>
    <%= sc.text_field :total_sold, :class => 'span1 ticket_sales_total_sold', :value => 0 %>
      </td>

      <td class='price_per_ticket'>
	<%= sc.text_field :price_per_ticket_l, :class => 'form-inline span1 ticket_sales_price_per_ticket_l', :value => 0 %>

	<%= sc.text_field :price_per_ticket_s, :class => 'form-inline span1 ticket_sales_price_per_ticket_s', :value => 0 %>
      </td>

      <td class='recorded_total'>
	<%= sc.text_field :recorded_total_l, :class => 'form-inline span1 ticket_sales_recorded_total_l', :value => 0 %>

	<%= sc.text_field :recorded_total_s, :class => 'form-inline span1 ticket_sales_recorded_total_s', :value => 0 %>
      </td>

    <% end %>

    </tr>
  <% end %>

    <tr>
      <td>
        <label>Total Receipts Calculated</label>
      </td>

      <td colspan=2>
        <span id="total_receipts_calculated_ts"></span>
      </td>

      <td colspan=2>
        <span id="total_receipts_calculated_rt"></span>
      </td>
    </tr>
  </tbody>
  </table>
  </div>

  <div class="control-group">
    <label class='control-label'>Total Receipts Recorded (Livre / Sous)</label>
    <div class="controls">
      <%= f.text_field :total_receipts_recorded_l, :class => 'form-inline span2' %>
      <%= f.text_field :total_receipts_recorded_s, :class => 'form-inline span2' %>
    </div>
  </div>

<!--
  <div class="control-group">
    <%= f.label :page_text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :page_text %>
    </div>
  </div>
-->

  <div class="control-group">
    <%= f.label :signatory, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :signatory %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payment_notes, 'Irregular Payment Notes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :payment_notes %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :misc_notes, 'Miscellaneous Play Information', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :misc_notes %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :for_editor_notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :for_editor_notes %>
    </div>
  </div>
  <div class="actions submit">
    <%= f.submit %>
  </div>

</fieldset>
<% end %>
</div>
</div>
