<% config = Cfrp::Application.config %>

<%# Kinda hacky, but does the job for now. %>
<%# Fills in author an genre automatically when filling out title. %>

<% titles = @plays.reduce([]) {|m, p| m << "#{p.id} | #{p.title} | #{p.author} | #{p.genre} | #{p.acts} | #{p.prose_vers} | #{p.prologue} | #{p.musique_danse_machine} "} %>

<%# authors = @plays.reduce([]) {|m, p| m << p.author} %>

<script>
  $(function() {
      $("#showhideirregs").click(function(){
        $("tr#irregs").toggleClass('hide');
      });

      var typeahead_event_init = function(fields) {
          // Set up auto-fill selector hooks
          var autofill_id = $(fields).find('.find_play_typeahead').attr('id');
          $(fields).find('.find_play_typeahead').typeahead({source: <%= raw titles.to_json %>});
          $(fields).find('.find_play_typeahead').on('change', function(e) { format_play_autofill(e) });
      };

      $("div#play_fields").children("div.fields").each(function(index, pfields) {
          typeahead_event_init(pfields);
      });

      var previous_ordering = $("div#play_fields").children("div.fields").length;

      // To handle the case when we have to add a new play...don't like re-initializing,
      // but works for now...
      $(document).on('nested:fieldAdded', function(event) {
          previous_ordering = parseInt(previous_ordering) + 1;
          $(event.field).find('input.play-ordering').val(previous_ordering);
          $(event.field).find('h3').html("Play " + (previous_ordering));

          var rnum = Math.floor(Math.random() * 10000);

          $(event.field).find('input.play_id-register_play_')
            .removeClass('play_id-register_play_')
            .addClass('play_id-register_play_' + rnum);
          $(event.field).find('table')
            .removeClass('register_play_')
            .addClass('register_play_' + rnum);
          $(event.field).find('input.find_play_typeahead')
            .removeClass('register_play_')
            .addClass('register_play_' + rnum);

          typeahead_event_init(event.field);
      });

      var format_play_autofill = function(e) {
        var play_data = $(e.currentTarget).val().split(' | ');
        var register_play_class = $(e.currentTarget).attr('class').split(' ')[1];
        var tclass = "table." + register_play_class;
        $(tclass + " td.id_text").html(play_data[0]);
        $("input.play_id-" + register_play_class).val(play_data[0]);
        $(tclass + " td.title_text").html(play_data[1]);
        $(tclass + " td.author_text").html(play_data[2]);
        $(tclass + " td.genre_text").html(play_data[3]);
        $(tclass + " td.acts_text").html(play_data[4]);
        $(tclass + " td.prose_vers_text").html(play_data[5]);
        $(tclass + " td.prologue_text").html(play_data[6]);
        $(tclass + " td.musique_danse_machine_text").html(play_data[7]);

        // Clear out the search field to avoid confusion.
        $(e.currentTarget).val('');
      }

    <% unless @register.register_images[1].nil? %>
        $("img#left_hand_page").hide();
        $("img#register_image2").hide();
        $("ul.image-tabs a.back").click(function(e) {
          $("img#register_image").attr("src", $("img#register_image2").attr("src"));
          return false;
        })

        $("ul.image-tabs a.front").click(function(e) {
          $("img#register_image").attr("src", $("img#register_image").data("src"));
          return false;
        })

        $("ul.image-tabs a.left").click(function(e) {
          $("img#register_image").attr("src", $("img#left_hand_page").data("src"));
          return false;
        })
    <% end %>
  });
</script>

<div class='row-fluid' id="form-wrapper">
  <div class='span10 offset1' id='register_form'>
        <%= nested_form_for @register, :html => {:class => 'form-horizontal'} do |f| %>
        <fieldset>

        <!-- Images -->
        <div class="row">
            <div class="span12">
              <% if !@register.register_images[1].nil? %>
              <div class="tabbable tabs-below">
                <ul class="nav nav-tabs image-tabs">
                  <li><a class='left' href="">Page de gauche</a></li>
                  <li><a class='front' href="">Page de droite</a></li>
                  <li class="pull-right">
                      <%= link_to "Open Flip Book in New Window", "http://hyperstudio.mit.edu/cfrp/flip_books/R#{@register.volume_number}/index.html#page/#{@register.rhp_image_number}/mode/2up", :target => 'top' %>
                  </li>
                </ul>
              </div>
              <% end %>
          </div><!-- End span12-->
        </div><!-- End row -->
        <!-- End Images -->


        <!-- Header, Errors, Submit Button -->
        <div class="row">
            <div class="span12">
                <legend>Saisie de registre pour la date: <%= I18n.localize(@register.date, :format => '%d %B %Y') %></legend>
                <div class="actions submit">
                  <%= f.submit "Saisir registre ##{@register.id}", :class => 'btn btn-small btn-info' %>
                </div>

                <% flash.each do |name, msg| -%>
                  <%= content_tag :div, msg, class: name %>
                <% end -%>

                <% if @register.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@register.errors.count, "error") %> prohibited this register from being saved:</h2>

                    <ul>
                    <% @register.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
          </div><!-- End span10 -->
        </div><!-- End row -->
        <!-- End Header -->

        <!-- Basic Fields -->
        <div class="row">
        <div class="span6" id="left_col">
          <div class="control-group">
            <%= f.label :register_num, 'Numéro', :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :register_num %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :season, 'Saison', :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :season %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :representation, 'Représentation', :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :representation %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :ouverture, :class => 'control-label' %>
            <div class="controls">
              <%= f.check_box :ouverture %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :cloture, 'Clôture', :class => 'control-label' %>
            <div class="controls">
              <%= f.check_box :cloture %>
            </div>
          </div>
        </div><!-- End span6 -->
        <div class="span6" id="right_col">
          <div class="control-group">
          <%= f.label :page_de_gauche, :class => 'control-label' %>
          <div class="controls">
            <%= f.select(:page_de_gauche, %w{ Distribution Dépenses Comptable Administrative Cour Relâche Autre }, :include_blank => true) %>
          </div>
          </div>

          <div class="control-group">
          <%= f.label :weekday, 'Jour de la semaine', :class => 'control-label' %>
          <div class="controls">
            <%= f.select(:weekday, ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]) %>
          </div>
          </div>
          <div class="control-group">
          <%= f.label :date, :class => 'control-label' %>
          <div class="controls">
            <%= f.date_select :date, { :use_month_numbers => true }, { :class => 'span3' } %>
          </div>
          </div>
        </div><!-- End span6 -->
        </div><!-- End row -->
        <!-- Basic Fields -->

        <!-- PUT PLAYS DATA HERE -->
        <div class="row">
          <div id='play_fields' class='span12 well'>
            <%= f.fields_for :register_plays, @register.register_plays.sort {|a, b| a.ordering <=> b.ordering } do |rp| %>
            <h4>Play <%= rp.object.ordering %></h4>

            <%= rp.fields_for :play_attributes, rp.object.play do |p| %>
              <!-- IS THIS COMING UP? -->
              <% if p.object %>
                <%= p.hidden_field :play_id, :class => "play_id-register_play_#{rp.object.id}",  :value => p.object.id %>
              <% else %>
                <%= p.hidden_field :play_id, :class => "play_id-register_play_" %>
              <% end %>
            <% end %>

            <div class="control-group">
              <%= rp.label :ordering, :class => 'control-label' %>
              <div class="controls">
              <%= rp.text_field :ordering, :class => 'form-inline span1 play-ordering' %>
              </div>
            </div>

            <!-- Play Title Search -->
            <div class="control-group">
              <label class="control-label">Rechercher pièce:</label>
              <div class="controls">
                <input type="text" class="find_play_typeahead register_play_<%= rp.object.id %>" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Pièce</label>
              <div class="controls">
                <table class='play_data table table-bordered register_play_<%= rp.object.id %>'>
                  <thead>
                    <tr>
                      <th>ID</th><th>Titre</th><th>Auteur</th><th>Genre</th><th>Actes</th><th>Prose/Vers</th><th>Prologue</th><th>Musique/Danse/Machine</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                <% if rp.object.play %>
                      <td class="id_text"><%= rp.object.play.id %></td><td class="title_text"><%= rp.object.play.title %></td><td class="author_text"><%= rp.object.play.author %></td><td class="genre_text"><%= rp.object.play.genre %></td><td class="acts_text"><%= rp.object.play.acts %></td><td class="prose_vers_text"><%= rp.object.play.prose_vers %></td><td class="prologue_text"><%= rp.object.play.prologue %></td><td class="musique_danse_machine_text"><%= rp.object.play.musique_danse_machine %></td>
                <% else %>
                      <td class="id_text"></td><td class="title_text"></td><td class="author_text"></td><td class="genre_text"></td><td class="acts_text"></td><td class="prose_vers_text"></td><td class="prologue_text"></td><td class="musique_danse_machine_text"></td>
                <% end %>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Play Title Search -->

            <!-- Start Participation -->
            <div class="control-group">
              <label class="control-label">Participation</label>
              <div class="controls form-inline">

                <%= rp.fields_for :participations, rp.object.participations do |participation_form| %>
                  <%= participation_form.hidden_field :id, :class => "participation_id-register_play_#{rp.object.id}" %>
                  <%= participation_form.hidden_field :role, :value => "Actor" %>
                  <%= participation_form.select(:person_id, Person.all.map{|person| ["#{person.honorific} #{person.full_name}", person.id]}, {include_blank: "Selectionner un acteur"}) %>
                  <label>Début?</label>
                  <%= participation_form.check_box :debut %>
                  <label>Rôle: </label>
                  <%= participation_form.text_field :character %>
                  <%= participation_form.link_to_remove "Supprimer acteur", :class => "btn btn-small btn-danger", :confirm => "Êtes-vous sûr?" %>

              <% end %>
              <%= rp.link_to_add "Rajouter acteur", :participations, :class => "btn btn-small btn-success" %>

              </div>
            </div>
            <!-- End Participation -->

            <div class="control-group">
              <label class="control-label">Création?</label>
              <div class="controls form-inline">
                <%= rp.check_box :firstrun, :class => 'form-inline' %>
                <label>Numéro de création</label>
                <%= rp.text_field :firstrun_perfnum, :class => 'span1' %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Reprise Importante?</label>
              <div class="controls form-inline">
                <%= rp.check_box :reprise, :class => 'form-inline' %>
                <label>Numéro de reprise</label>
                <%= rp.text_field :reprise_perfnum, :class => 'span1' %>
              </div>
            </div>

            <div class="control-group">
              <%= rp.label :free_access, 'Gratuit', :class => 'control-label' %>
              <div class="controls">
                <%= rp.check_box :free_access, :class => 'form-inline' %>
              </div>
            </div>

            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= rp.object.id %>">
                    Exceptions
                  </a>
                </div>
                <div id="collapse<%= rp.object.id %>" class="accordion-body collapse">
                  <div class="accordion-inner">
                  <div class="control-group">
                    <%= rp.label :ex_attendance, 'Présence exceptionnelle', :class => 'control-label' %>
                    <div class="controls">
                      <%= rp.text_field :ex_attendance, :class => 'span2' %>
                    </div>
                  </div>

                  <div class="control-group">
                    <%= rp.label :ex_representation, 'Représentation exceptionnelle', :class => 'control-label' %>
                    <div class="controls">
                      <%= rp.text_field :ex_representation, :class => 'span2' %>
                    </div>
                  </div>

                  <div class="control-group">
                    <%= rp.label :ex_place, 'Lieu exceptionnel', :class => 'control-label' %>
                    <div class="controls">
                      <%= rp.text_field :ex_place, :class => 'span2' %>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <%= rp.link_to_remove "Supprimer la pièce ci-dessus", :class => "btn btn-small btn-danger", :confirm => "Êtes-vous sûr?" %>
            </div>
            <% end %>
            <hr />
            <%# please note that this functionality comes from nested_form: https://github.com/ryanb/nested_form %>
            <%= f.link_to_add "Rajouter une pièce ci-dessous", :register_plays, :class => "btn btn-small btn-success" %>
                  
          </div><!-- /span12 -->
        </div><!-- /row -->
        <!-- End Play Block -->

        <!-- TICKET SALES -->
        <div class='row'>
        <div class="span12">
          <table id='ticket_sales_fields' class='table table-bordered span12'>
          <thead>
            <tr>
              <th>Seating Category</th>
              <th>Tickets Sold</th>
              <th>Price Per Ticket (Livre/Sous/Deniers)</th>
              <th>Total Take, <strong>as Recorded</strong> (Livre/Sous/Deniers)</th>
            </tr>
          </thead>

          <tbody>
          <%= f.fields_for :ticket_sales, @register.register_period.register_period_seating_categories.sort_by {|rpsc| rpsc.ordering} do |sc| %>
            <% if irregular_receipt?(sc.object.seating_category) %>
              <%= render :partial => 'irregular_seating_category', :locals => {:seating_category => sc, :register => @register, form: f} %>
            <% else %>
              <%= render :partial => 'seating_category', :locals => {:seating_category => sc, :register => @register, form: f} %>
            <% end %>
          <% end %>
            <tr>
              <td colspan="4"><button type="button" class="btn btn-primary btn-sm" id="showhideirregs">Voir reçus irréguliers</button></td>
            </tr>
            <tr>
              <td>
                <label>Total Receipts Calculated</label>
              </td>

              <td colspan=2>
                <span id="total_receipts_calculated_ts"></span>
              </td>

              <td colspan=2>
                <span id="total_receipts_calculated_rt"></span>
              </td>
            </tr>

            <tr>
              <td colspan="4">
                <div class="control-group">
                  <label class='control-label'>Total Receipts Recorded (Livre / Sous / Deniers)</label>
                  <div class="controls">
                    <%= f.text_field :total_receipts_recorded_l, :class => 'form-inline span2' %>
                    <%= f.text_field :total_receipts_recorded_s, :class => 'form-inline span2' %>
                    <%= f.text_field :total_receipts_recorded_d, :class => 'form-inline span2' %>
                  </div>
                </div>
              </td>
            </tr>


          </tbody>
          </table>
        </div><!-- /span12 -->
        </div><!-- /row -->
        <!-- End Ticket Sales -->

        <!-- Additional Fields -->
        <div class="row">
        <div class="span6">
            <div class="control-group">
              <%= f.label :signatory, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :signatory %>
              </div>
            </div>
            <%= f.fields_for :verification_state do |vs| %>
            <div class="control-group">
              <%= vs.label :name, "verified?", :class => 'control-label' %>
              <div class="controls">
                <%= collection_select(:register, :verification_state_id, VerificationState.all, :id, :name) %>
              </div>
            </div>
            <% end %>

            <div class="control-group">
              <%= f.label :for_editor_notes, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_area :for_editor_notes, :rows => 3 %>
              </div>
            </div>

        </div><!-- /span6 -->
        <div class="span6">
            <div class="control-group">
              <%= f.label :payment_notes, 'Irregular Payment Notes', :class => 'control-label' %>
              <div class="controls">
                <%= f.text_area :payment_notes, :rows => 3 %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :misc_notes, 'Miscellaneous Play Information', :class => 'control-label' %>
              <div class="controls">
                <%= f.text_area :misc_notes, :rows => 3 %> 
              </div>
            </div>
        </div>
        </div><!-- /row -->
        <div class="row">
          <div class="span12">
            <div class="actions submit">
              <%= f.submit "Saisir registre ##{@register.id}", :class => 'btn btn-small btn-info' %>
            </div>
          </div>
        </div>

        <!-- End Additional Fields -->
      </fieldset>
    <% end %>
  </div><!-- End #register_form -->
</div><!-- End #form-wrapper -->
