|count = <%= @count %>|

<% config = Cfrp::Application.config %>

<%# params: register %>
<div class='register'>
  <% if register.register_image != nil %>
  <div><a href="<%= config.repertoire_assets.path_prefix %>/<%= register.register_image.filepath %>" target="_blank"><img src='<%= config.repertoire_assets.path_prefix %>/<%= register.register_image.filepath %>' width='100' /></a></div>
  <% end %>

  <div><input type='submit' value='edit' name='edit' /><input type='submit' value='delete' name='delete' /></div>

  <div><span class='label'>Repr&#233;sentation:</span> <%= register.representation %></div>
  <div><span class='label'>Date:</span> <%= sprintf('%02d', register.date.day) %>/<%= sprintf('%02d', register.date.month) %>/<%= register.date.year %></div>

  <% register.register_plays.sort {|a, b| a.ordering <=> b.ordering }.each do |rp| %>
  <div><span class='label'>Play, Author <%= rp.ordering + 1 %>:</span><br /> <%= rp.play.title %>, <%= rp.play.author %></div>
  <% end %>

  <div><span class='label'>Page Text:</span></div>
  <div><%= register.page_text %></div>

  <br />
  <div><span class='label'>Status:</span> <span class='<%= register.verification_state.name.gsub(/\s/, '_') %>'><%= register.verification_state.name %></span></div>

  <% if (register.misc_notes !~ /^\s*$/ || register.for_editor_notes !~ /^\s*$/) %>
  <br />
  <div><span class='label'>Notes:</span></div>
  <div class='editor'><%= register.for_editor_notes %></div>
  <div><%= register.misc_notes %></div>
  <% end %>
  <div style="clear:both"></div>
</div>
