<p id="notice"><%= notice %></p>

  <% if @register.register_image != nil %>
  <div id='register_image'><a href="<%= config.path_prefix %>/<%= @register.register_image.filepath %>" target="_blank"><img src='<%= config.path_prefix %>/<%= @register.register_image.filepath %>' width='100' /></a></div>
  <% end %>

<p>
  <b>Date:</b>
  <%= @register.date %>
</p>

<p>
  <b>Weekday:</b>
  <%= @register.weekday %>
</p>

<p>
  <b>Season:</b>
  <%= @register.season %>
</p>

<p>
  <b>Register num:</b>
  <%= @register.register_num %>
</p>

<p>
  <b>Payment notes:</b>
  <%= @register.payment_notes %>
</p>

<p>
  <b>Payment notes:</b>
  <%= @register.payment_notes %>
</p>

<p>
  <b>Page text:</b>
  <%= @register.page_text %>
</p>

<p>
  <b>Total receipts recorded l:</b>
  <%= @register.total_receipts_recorded_l %>
</p>

<p>
  <b>Total receipts recorded s:</b>
  <%= @register.total_receipts_recorded_s %>
</p>

<p>
  <b>Representation:</b>
  <%= @register.representation %>
</p>

<p>
  <b>Signatory:</b>
  <%= @register.signatory %>
</p>

<p>
  <b>Misc notes:</b>
  <%= @register.misc_notes %>
</p>

<p>
  <b>For editor notes:</b>
  <%= @register.for_editor_notes %>
</p>

<p>
  <b>Ouverture:</b>
  <%= @register.ouverture %>
</p>

<p>
  <b>Cloture:</b>
  <%= @register.cloture %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
