<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @register.date %>
</p>

<p>
  <b>Weekday:</b>
  <%= @register.weekday %>
</p>

<p>
  <b>Season:</b>
  <%= @register.season %>
</p>

<p>
  <b>Register num:</b>
  <%= @register.register_num %>
</p>

<p>
  <b>Payment notes:</b>
  <%= @register.payment_notes %>
</p>

<p>
  <b>Payment notes:</b>
  <%= @register.payment_notes %>
</p>

<p>
  <b>Date flag:</b>
  <%= @register.date_flag %>
</p>

<p>
  <b>Season flag:</b>
  <%= @register.season_flag %>
</p>

<p>
  <b>Regnum flag:</b>
  <%= @register.regnum_flag %>
</p>

<p>
  <b>Totalreceipts flag:</b>
  <%= @register.totalreceipts_flag %>
</p>

<p>
  <b>Payment notes flag:</b>
  <%= @register.payment_notes_flag %>
</p>

<p>
  <b>Page text:</b>
  <%= @register.page_text %>
</p>

<p>
  <b>Page text flag:</b>
  <%= @register.page_text_flag %>
</p>

<p>
  <b>Total receipts recorded l:</b>
  <%= @register.total_receipts_recorded_l %>
</p>

<p>
  <b>Total receipts recorded s:</b>
  <%= @register.total_receipts_recorded_s %>
</p>

<p>
  <b>Representation:</b>
  <%= @register.representation %>
</p>

<p>
  <b>Signatory:</b>
  <%= @register.signatory %>
</p>

<p>
  <b>Signatory flag:</b>
  <%= @register.signatory_flag %>
</p>

<p>
  <b>Rep flag:</b>
  <%= @register.rep_flag %>
</p>

<p>
  <b>Misc notes:</b>
  <%= @register.misc_notes %>
</p>

<p>
  <b>Misc notes flag:</b>
  <%= @register.misc_notes_flag %>
</p>

<p>
  <b>For editor notes:</b>
  <%= @register.for_editor_notes %>
</p>

<p>
  <b>Ouverture:</b>
  <%= @register.ouverture %>
</p>

<p>
  <b>Ouverture flag:</b>
  <%= @register.ouverture_flag %>
</p>

<p>
  <b>Cloture:</b>
  <%= @register.cloture %>
</p>

<p>
  <b>Cloture flag:</b>
  <%= @register.cloture_flag %>
</p>


<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
