<h1>Listing page_text_templates</h1>

<table>
  <tr>
    <th>Template text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @page_text_templates.each do |page_text_template| %>
  <tr>
    <td><%= page_text_template.template_text %></td>
    <td><%= link_to 'Show', page_text_template %></td>
    <td><%= link_to 'Edit', edit_page_text_template_path(page_text_template) %></td>
    <td><%= link_to 'Destroy', page_text_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page text template', new_page_text_template_path %>
