<p id="notice"><%= notice %></p>

<p>
  <b>Register:</b>
  <%= @register_play.register_id %>
</p>

<p>
  <b>Play:</b>
  <%= @register_play.play_id %>
</p>

<p>
  <b>Firstrun:</b>
  <%= @register_play.firstrun %>
</p>

<p>
  <b>Newactor:</b>
  <%= @register_play.newactor %>
</p>

<p>
  <b>Actorrole:</b>
  <%= @register_play.actorrole %>
</p>

<p>
  <b>Editor flag:</b>
  <%= @register_play.editor_flag %>
</p>

<p>
  <b>Firstrun perfnum:</b>
  <%= @register_play.firstrun_perfnum %>
</p>


<%= link_to 'Edit', edit_register_play_path(@register_play) %> |
<%= link_to 'Back', register_plays_path %>
